terraform.tfstate
.terraform
Day-1/terraform.tfstate.backup
Day-1/.terraform.lock.hcl
nginx-modular-approach/.terraform.lock.hcl
nginx-modular-approach/terraform.tfstate.backup
nginx-web-server/terraform.tfstate.backup
nginx-web-server/terraform.tfstate.backup
nginx-web-server/terraform.tfstate.backup
nginx-data-approach/.terraform.lock.hcl
